<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home</title>
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/company.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
</head>

<body>
	<div class="header">
		<div class="container">
			<h1><img class="logo" src="img/logo.png" alt="logo"> Efficient Management</h1>
			<div class="greeting">
				Hi, <span id="username">{{username}}</span><a class="logout" href="/logout">Logout</a>
			</div>
			<button class="notification" id="notification">
				Notification
				{{#numNewNotifications}}
				<span class="num-of-new-notifications" id="num-of-new-notifications">{{numNewNotifications}}</span>
				{{/numNewNotifications}}
			</button>
			<div class="clear-both"></div>
		</div>
	</div>
	<div class="main">
		<div class="container">
			<div class="panel panel-left">
				<h2 class="title title-center">Operation</h2>
				<ul class="operations">
					<li class="switch active" id="profile-switch">Profile</li>
					<li class="switch" id="all-employees-switch">All Employees</li>
					<li class="switch" id="all-groups-switch">All Groups</li>
					<li class="switch" id="all-tasks-switch">All Tasks</li>
					<li class="switch" id="all-anns-switch">All Announcements</li>
				</ul>
			</div>
			<div class="panel panel-right">
				<div class="content-card active" id="profile">
					<h2 class="title title-center">Profile</h2>
					<form action="profile-form" id="profile-form" action="/company/profile" method="POST">
						<div class="inp-grp">
							<label class="label-block">Username *</label>
							<input type="text" name="username" id="username-profile" value="{{username}}" readonly required>
						</div>
						<div class="inp-grp">
							<label class="label-block">Password</label>
							<input type="password" name="password" id="password-profile">
						</div>
						<div class="inp-grp">
							<label class="label-block">Confirm Password</label>
							<input type="password" name="confirmPassword" id="confirm-password-profile">
						</div>
						<div class="inp-grp">
							<label class="label-block">Address *</label>
							<input type="text" name="address" id="address-profile" value="{{address}}" required>
						</div>
						<div class="inp-grp">
							<label class="label-block">Email *</label>
							<input type="email" name="email" id="email-profile" value="{{email}}" required>
						</div>
						<div class="inp-grp">
							<label class="label-block">Phone *</label>
							<input type="tel" name="phone" id="phone-profile" value="{{phone}}" required>
						</div>
						<div class="inp-grp center-text mt-1em">
							<input type="submit" value="Submit" required>
						</div>
					</form>
				</div>
				<div class="content-card" id="all-employees">
					<h2 class="title title-center">All Employees</h2>
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Address</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Operation</th>
							</tr>
						</thead>
						<tbody class="employees" id="employees">
						</tbody>
					</table>
				</div>
				<div class="content-card" id="all-groups">
					<h2 class="title title-center">All Groups</h2>
					<div class="center-text">
						<button class="new-group submit-look" id="new-group" onclick="newGroup()">Add New Group</button>
					</div>
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Members</th>
								<th>Operation</th>
							</tr>
						</thead>
						<tbody class="groups" id="groups">
						</tbody>
					</table>
				</div>
				<div class="content-card" id="all-tasks">
					<h2 class="title title-center">All Tasks</h2>
					<div class="center-text">
						<button class="new-task submit-look" id="new-task" onclick="newTask()">Add New Task</button>
					</div>
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Assigned To</th>
								<th>Content</th>
								<th>Date</th>
								<th>Operation</th>
							</tr>
						</thead>
						<tbody class="tasks" id="tasks">
						</tbody>
					</table>
				</div>
				<div class="content-card" id="all-anns">
					<h2 class="title title-center">All Announcements</h2>
					<div class="center-text">
						<button class="new-ann submit-look" id="new-ann" onclick="newAnn()">Add New Announcement</button>
					</div>
					<table>
						<thead>
							<tr>
								<th>Title</th>
								<th>Content</th>
								<th>Date</th>
								<th>Operation</th>
							</tr>
						</thead>
						<tbody class="anns" id="anns">
						</tbody>
					</table>
				</div>
			</div>
			<div class="clear-both"></div>
		</div>
	</div>

	<div class="modal" id="notification-modal">
		<div class="panel panel-modal">
			<h2 class="title title-center">Notification</h2>
			<ul class="notifs" id="notifs">
			</ul>
		</div>
	</div>

	<div class="modal" id="group-modal">
		<div class="panel panel-modal">
			<h2 class="title title-center">Group</h2>
			<form class="group-form" id="group-form" action="/set-group" method="POST">
				<input type="hidden" name="id" id="groupid" readonly required>
				<div class="inp-grp">
					<label class="label-block">Group Name *</label>
					<input type="text" name="groupname" id="groupname" required>
				</div>
				<div class="inp-grp">
					<label class="label-block">Members</label>
					<select name="members" id="members" multiple>
					</select>
				</div>
				<div class="inp-grp">
					<p class="descr">
						Note: hold down Ctrl/Cmd key to select multiple employees.
					</p>
				</div>
				<div class="inp-grp center-text mt-1em">
					<input type="submit" value="Submit" required>
				</div>
			</form>
		</div>
	</div>

	<div class="modal" id="task-modal">
		<div class="panel panel-modal">
			<h2 class="title title-center">Task</h2>
			<form class="task-form" id="task-form" action="/set-task" method="POST">
				<input type="hidden" name="id" id="taskid" readonly required>
				<div class="inp-grp">
					<label class="label-block">Task Name *</label>
					<input type="text" name="taskname" id="taskname" required>
				</div>
				<div class="inp-grp">
					<label class="label-block">Task Content *</label>
					<textarea name="taskcontent" id="taskcontent" required></textarea>
				</div>
				<div class="inp-grp">
					<label class="label-block">Assigned To *</label>
					<select name="assignedTo" id="assignedTo" required>
					</select>
				</div>
				<div class="inp-grp center-text mt-1em">
					<input type="submit" value="Submit" required>
				</div>
			</form>
		</div>
	</div>

	<div class="modal" id="ann-modal">
		<div class="panel panel-modal">
			<h2 class="title title-center">Announcement</h2>
			<form class="ann-form" id="ann-form" action="/set-ann" method="POST">
				<input type="hidden" name="id" id="annid" readonly required>
				<div class="inp-grp">
					<label class="label-block">Announcement Title *</label>
					<input type="text" name="anntitle" id="anntitle" required>
				</div>
				<div class="inp-grp">
					<label class="label-block">Announcement Content *</label>
					<textarea name="anncontent" id="anncontent" required></textarea>
				</div>
				<div class="inp-grp center-text mt-1em">
					<input type="submit" value="Submit" required>
				</div>
			</form>
		</div>
	</div>

	<script type="text/html" id="employee-template">
		{{=<% %>=}}
        <tr class="company">
            <td>{{username}}</td>
            <td>{{address}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
            <td>
				<button onclick="removeEmployee('{{username}}')">Remove</button>
            </td>
        </tr>
        <%={{ }}=%>
	</script>
	<script type="text/html" id="group-template">
		{{=<% %>=}}
        <tr class="group">
			<td>{{groupname}}</td>
			<td>{{members}}</td>
			<td>
				<button onclick="editGroup('{{id}}')">Edit</button>
				<button onclick="deleteGroup('{{id}}')">Delete</button>
			</td>
        </tr>
        <%={{ }}=%>
	</script>
	<script type="text/html" id="group-opt-template">
		{{=<% %>=}}
        <option value="{{id}} group" {{#selected}} selected{{/selected}}>{{groupname}} </option>
        <%={{ }}=%>
	</script>
	<script type="text/html" id="employee-opt-template">
		{{=<% %>=}}
        <option value="{{id}} employee" {{#selected}} selected{{/selected}}>{{username}} </option>
        <%={{ }}=%>
	</script>
	<script type="text/html" id="task-template">
		{{=<% %>=}}
        <tr class="task">
			<td>{{taskname}}</td>
			<td>{{assignedTo}}<br><span class="tasktype">({{tasktype}})</span></td>
			<td>{{taskcontent}}</td>
			<td>{{date}}</td>
			<td>
				<button onclick="deleteTask('{{id}}')">Cancel</button>
			</td>
		</tr>
        <%={{ }}=%>
	</script>
	<script type="text/html" id="ann-template">
		{{=<% %>=}}
        <tr class="ann">
			<td>{{anntitle}}</td>
			<td>{{anncontent}}</td>
			<td>{{date}}</td>
			<td>
				<button onclick="deleteAnn('{{id}}')">Delete</button>
			</td>
		</tr>
        <%={{ }}=%>
	</script>
	<script type="text/html" id="notif-template">
		{{=<% %>=}}
        <li class="notif">
            <div class="notif-info">{{info}}</div>
            <div>
                <div class="notif-date float-right">{{date}}</div>
                <button class="float-left" onclick="deleteNotif('{{id}}')">Delete</button>
                {{^beRead}}
                <button class="float-left ml-1em" onclick="readNotif('{{id}}')">Mark As Read</button>
                {{/beRead}}
            </div>
            <div class="clear-both"></div>
        </li>
        <%={{ }}=%>
    </script>

	<script src="js/company.js"></script>
</body>

</html>